main {
    background: #343a40;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #343a40;
}

.container {
    background: rgba(133, 247, 165, 0.604);
    width: 800px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: inline-block;
}

.btn {
    width: 115px;
    margin: 20px;
}


.previous-day {
    display: none;
}
